{{ define "main" }}
    <header>
        <h1>
            {{ .Title }}
            {{ partial "semester" (dict "type" "short" "semester" .Site.Params.current_semester) }}
            <span class="underscore-spacer"> </span>
        </h1>
        <section class="underscore">
            <div class="spacer"></div>
            {{ .Content }}
        </section>
    </header>
    <main>
        {{ $current_semester := where .Site.Pages "Section" .Site.Params.current_semester }}
        {{ range sort (where (where $current_semester "Kind" "section") "Type" "!=" .Site.Params.current_semester) "Title" }}
            <section class="projects-list-entry">
                <div>
                    <span class="type">{{ .Type }}</span>
                    <h3>{{ .Title }}</h3>
                    <p>{{ .Params.card_description }}</p>
                    <a href="{{ .RelPermalink }}">-> Details</a>
                </div>
                {{ $image := newScratch }}
                {{ if (and .Params.card_image (.Resources.GetMatch .Params.card_image)) }}
                    {{ $image.Set "src" (.Resources.GetMatch .Params.card_image).RelPermalink }}
                {{ else }}
                    {{ $image.Set "src" (printf "%s/images/placeholder.png" .Site.BaseURL) }}
                {{ end }}
                <img src="{{ $image.Get "src" }}" alt="{{ .Title }}">
            </section>
            <hr class="alternate">
        {{ end }}
    </main>
{{ end }}
