{{ define "main" }}
    <header>
        <h1>
            {{ .Title }}
            <span class="light block">{{ partial "semester" (dict "type" "short" "semester" .Site.Params.current_semester) }}</span>
            <span class="underscore-spacer"> </span>
        </h1>
        <section class="underscore">
            <div class="spacer"></div>
            {{ .Content }}
        </section>
    </header>

        {{ $current_semester_page := .Site.GetPage .Site.Params.current_semester}}
        {{ partial "project_list_partial.html" $current_semester_page }}

{{ end }}
