{{ define "main" }}
<header>
    <h1>
        {{ .Title }}
        <span class="light block">{{ partial "semester" (dict "type" "short" "semester" .Site.Params.current_semester) }}</span>
        <span class="underscore-spacer"> </span>
    </h1>
    <section class="underscore">
        <div class="spacer"></div>
        {{ .Content }}
    </section>
</header>
<main class="schedule">
    <section>
        <ul>
            {{ range .Site.Data.schedule.slot }}
            <li>
                <p>{{ .time }}</p>
                <div class="{{ .class }}">
                    <h3 class="no-underscore">{{ .title }}</h3>
                    {{ if isset . "projectDetail"}}
                    <a href="{{ .projectDetail }}">-> Project_Details</a>
                    {{ end }}
                    {{ end }}
                </div>
            </li>
        </ul>
    </section>
</main>
{{ end }}
