<nav>
    <a href="{{ .Site.BaseURL }}"><strong>IMI<span class="light">×</span>ST</strong> <span class="light">{{ partial "semester" (dict "semester" .Site.Params.current_semester)}}</span></a>
    <ul>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/dates">Dates</a></li>
        {{ $previous_semester_type := "" }}
        {{ $previous_semester_year := "" }}
        {{ if eq (slicestr .Site.Params.current_semester 0 2) "ws" }}
            {{ $previous_semester_type = "ss" }}
            {{ $previous_semester_year = slicestr .Site.Params.current_semester 2 }}
        {{ else }}
            {{ $previous_semester_type = "ws" }}
            {{ $previous_semester_year = sub (int (slicestr .Site.Params.current_semester 2)) 1 }}
        {{ end }}
        <li><a href="/{{ $previous_semester_type }}{{ $previous_semester_year }}">Archive</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
