{{ define "main" }}
<section class="start">
    <img class="deco-01" src="/img/deco-rect-01.svg" alt="decorative element">
    <img class="deco-02" src="/img/deco-rect-02.svg" alt="decorative element">
    <div class="content">
        <div>
            <div>
                <h1>
                    IMI<span class="light">×</span>Showtime<br>
                    <span class="light">{{ partial "semester" (dict "type" "short" "semester" .Site.Params.current_semester) }}</span>
                </h1>
                <p>
                    <strong>
                        Projects showcase<br>
                        {{ partial "semester" (dict "type" "long" "semester" .Site.Params.current_semester) }}
                    </strong><br>
                    International Media and Computing B/M<br>
                    HTW Berlin
                </p>
            </div>
            <img src="/img/showtime-keyvisual.svg" alt="IMI-Showtime keyvisual">
        </div>
        <div>
            <a href="#down"><img src="/img/arrow-down.svg" alt="arrow down"></a>
            <h1>
                <span class="light">_</span><br>
                {{ .Params.showtime_date }}<br>
                <span class="light">{{ .Params.showtime_place }}</span>
            </h1>
        </div>
    </div>
</section>
<section id="down" class="home-content">
    <main>
        {{ .Content }}
        <section class="call-to-action">
            <h3>Work with<br><span class="light">our students</span></h3>
            <div>
                <p>
                    We’re always looking for new exciting partners for new projects.
                    Browse through the  <a href="/projects">current projects</a>
                    or <a href="/ss20"> former ones in the archive</a> to get an idea
                      what might be possible.
                </p>
                <a href="/contact"><button>-> contact us</button></a>
            </div>
        </section>
    </main>
</section>
{{ end }}
