{{ define "main" }}
<section class="start">
    <img class="deco-01" src="/img/deco-rect-01.svg" alt="decorative element">
    <img class="deco-02" src="/img/deco-rect-02.svg" alt="decorative element">
    <div class="content">
        <div>
            <div>
                <h1>IMI<span class="light">×</span>Showtime<br>
                    <span class="light">WiSe 20/21</span></h1>
                <p><strong>Showcase der Praxisprojekte<br>
                    Wintersemester 2020/2021</strong><br>
                    Internationale Medieninformatik B/M<br>
                    HTW Berlin</p>
            </div>
            <img src="/img/showtime-keyvisual.svg" alt="IMI-Showtime keyvisual">
        </div>
        <div>
            <a href="#down"><img src="/img/arrow-down.svg" alt="arrow down"></a>
            <h1><span class="light">_</span><br>
                12/02/2021<br>
                <span class="light">REMOTE</span></h1>
        </div>
    </div>
</section>
<section id="down">
</section>
{{ end }}
