{{ $video := newScratch }}
{{ if .IsNamedParams }}
    {{ $video.Set "id" (.Get "id") }}
    {{ $video.Set "width" (.Get "width") }}
    {{ $video.Set "height" (.Get "height") }}
{{ else }}
    {{ $video.Set "id" (.Get 0) }}
    {{ $video.Set "width" (.Get 1) }}
    {{ $video.Set "height" (.Get 2) }}
{{ end }}

<iframe src="https://mediathek.htw-berlin.de/media/embed?key={{ $video.Get "id" }}&responsive=true&autoplay=false&t=0" width="{{ $video.Get "width" }}" height="{{ $video.Get "height" }}" frameborder="0" allowfullscreen="allowfullscreen" allowtransparency="true" scrolling="no"></iframe>
