<section class="team">
    <figure>
        <img src="dummy_portrait_01.jpg" alt="Portrait of Thomas Thomassen">
        <figcaption>Thomas Thomassen</figcaption>
    </figure>
    <figure>
        <img src="dummy_portrait_02.jpg" alt="Portrait of Melissa Melissano">
        <figcaption>Melissa Melissano</figcaption>
    </figure>
    <figure>
        <img src="dummy_portrait_03.jpg" alt="Portrait of Jens Jensson">
        <figcaption>Jens Jensson</figcaption>
    </figure>
    <figure>
        <img src="dummy_portrait_04.jpg" alt="Portrait of Melanie McMelly">
        <figcaption>Melanie McMelly</figcaption>
    </figure>
    <figure>
        <img src="dummy_portrait_05.jpg" alt="Portrait of Jack Jackson">
        <figcaption>Jack Jackson</figcaption>
    </figure>
    <figure>
        <img src="dummy_portrait_06.jpg" alt="Portrait of Catherine Cateré">
        <figcaption>Catherine Cateré</figcaption>
    </figure>
</section>